* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --font-base: instrument-sans, sans-serif;
  --color-primary: #0040FF;
  --color-secondary: #BCDCFF;
  --color-background: #101011;
  --color-white: #ffffff;
  --color-text: #fff;
  --color-highlight: #fff;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --radius: 15px;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
  --titulo: 2rem;
  --subtitulo: 1rem;
  --cardtitulo: 1.2rem;
  --cardtexto: 0.95rem;

}

body {
  font-family: var(--font-base);
  background-color: var(--color-background);
  color: var(--color-text);

}

html {
  scroll-behavior: smooth;
}

